.hero
  %nav.navbar
  .container-fluid
    .navbar-inner
      %a{:href => "#"}
      =image_tag "Instacart-logo.png", class: 'img-responsive'

  .container.formcontent.text-center
    %h1 
      Your current application
    = render "applicants/form"
